alertmanager:
  ingress:
    enabled: true
    annotations:
      cert-manager.io/cluster-issuer: letsencrypt-internal
    hosts:
      - alertmanager.k8s.lysakermoen.com
    paths:
      - /
    tls:
      - secretName: alertmanager-k8s-lysakermoen-com
        hosts:
          - alertmanager.k8s.lysakermoen.com
  config:
    global:
      resolve_timeout: 5m
    route:
      receiver: discord
      routes:
        - matchers: [alertname="Watchdog"]
          receiver: 'null'
        - receiver: discord
    receivers:
      - name: discord
        webhook_configs:
          - url: "http://am-discord.monitoring.svc.cluster.local:9094/"
      - name: 'null'

kubeScheduler:
  enabled: true
  service:
    enabled: true
    selector:
      k8s-app: kube-scheduler
    port: 10259
    targetPort: 10259
    name: https-metrics
  serviceMonitor:
    enabled: true
    https: true
    insecureSkipVerify: true

kubeControllerManager:
  enabled: true
  service:
    enabled: true
    selector:
      k8s-app: kube-controller-manager
    port: 10257
    targetPort: 10257
    name: https-metrics
  serviceMonitor:
    enabled: true
    https: true
    insecureSkipVerify: true

kubeEtcd:
  enabled: true
  endpoints:
    - "10.0.6.69"
    - "10.0.6.102"
    - "10.0.6.126"
  service:
    enabled: true
    port: 2381
    targetPort: 2381
  serviceMonitor:
    enabled: true
    scheme: http
    path: /metrics

prometheus:
  ingress:
    enabled: true
    annotations:
      cert-manager.io/cluster-issuer: letsencrypt-internal
    hosts:
      - prometheus.k8s.lysakermoen.com
    paths:
      - /
    tls:
      - secretName: prometheus-k8s-lysakermoen-com
        hosts:
          - prometheus.k8s.lysakermoen.com
  prometheusSpec:
    serviceMonitorSelectorNilUsesHelmValues: false
    serviceMonitorSelector: {}
    serviceMonitorNamespaceSelector: {}
    storageSpec:
      volumeClaimTemplate:
        spec:
          storageClassName: rook-ceph-block-ssd
          volumeMode: Filesystem
          accessModes: ["ReadWriteOnce"]
          resources:
            requests:
              storage: 20Gi
