apiVersion: apps/v1
kind: Deployment
metadata:
  name: syncthing
  namespace: syncthing
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app: syncthing
  template:
    metadata:
      labels:
        app: syncthing
    spec:
      securityContext:
        fsGroup: 1000
      containers:
        - name: syncthing
          image: syncthing/syncthing:2.0.14
          imagePullPolicy: IfNotPresent
          ports:
            - name: gui
              containerPort: 8384
              protocol: TCP
            - name: sync-tcp
              containerPort: 22000
              protocol: TCP
            - name: sync-udp
              containerPort: 22000
              protocol: UDP
            - name: discovery
              containerPort: 21027
              protocol: UDP
          volumeMounts:
            - name: config
              mountPath: /var/syncthing
            - name: data
              mountPath: /data
          resources:
            requests:
              cpu: 150m
              memory: 512Mi
            limits:
              memory: 512Mi

        - name: sftp
          image: atmoz/sftp:alpine-3.7
          args:
            - user:password:1000:1000:upload
          ports:
            - name: sftp
              containerPort: 22
              protocol: TCP
          volumeMounts:
            - name: data
              mountPath: /home/user/upload
          resources:
            requests:
              cpu: 50m
              memory: 256Mi
            limits:
              memory: 256Mi

      volumes:
        - name: config
          persistentVolumeClaim:
            claimName: syncthing-config
        - name: data
          persistentVolumeClaim:
            claimName: syncthing-pvc
