alloy:
  configMap:
    content: |-
      logging {
        level  = "info"
        format = "logfmt"
      }

      loki.write "loki" {
        endpoint {
          url = "http://loki-gateway.monitoring.svc.cluster.local/loki/api/v1/push"
        }
      }

      discovery.kubernetes "pods" {
        role = "pod"
      }

      discovery.relabel "pods" {
        targets = discovery.kubernetes.pods.targets

        rule {
          source_labels = ["__meta_kubernetes_namespace"]
          target_label  = "namespace"
          action        = "replace"
        }

        rule {
          source_labels = ["__meta_kubernetes_pod_name"]
          target_label  = "pod"
          action        = "replace"
        }

        rule {
          source_labels = ["__meta_kubernetes_pod_container_name"]
          target_label  = "container"
          action        = "replace"
        }

        rule {
          source_labels = ["__meta_kubernetes_node_name"]
          target_label  = "node"
          action        = "replace"
        }
      }

      loki.source.kubernetes "pod_logs" {
        targets    = discovery.relabel.pods.output
        forward_to = [loki.write.loki.receiver]
      }

ingress:
  enabled: true
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt-internal
  ingressClassName: internal
  hosts:
   - alloy.k8s.lysakermoen.com
  tls:
    - secretName: alloy-internal-tls
      hosts:
        - alloy.k8s.lysakermoen.com